<h1>Películas</h1>
<%= link_to 'Nueva Película', new_movie_path %>
<ul>
  <% @movies.each do |movie| %>
    <li><%= movie.name %> - <%= movie.synopsis %> - <%= movie.director %></li>
  <% end %>
</ul>
