<h1>Documentales</h1>
<%= link_to 'Nuevo Documental', new_documentary_film_path %>
<ul>
  <% @documentary_films.each do |documentary_film| %>
    <li><%= documentary_film.name %> - <%= documentary_film.synopsis %> - <%= documentary_film.director %></li>
  <% end %>
</ul>
